# Swift build artifacts
**/.build/
**/Package.resolved
**/.swiftpm/
**/xcuserdata/
**/*.xcworkspace

# macOS
.DS_Store

# Documentation files  
CLAUDE.md
*.mdc

# Exclude README from ignore
!README.md

# Other directories/files
-alh/
ls/
